body {
	background-image: url('../images/natasha-pattern.png');
}

.columns {
	margin-top: 20px;
	background: #F9F3F5;
}

.buy {
	width: 100%;
	display: inline-block;
	background-color: #C4B9C1;
}

h4 {
	float: left;
}

.button {
	float: right;
}

.copy {
	margin-top: 80px;
}